<h1>Foster Homes</h1>

<form action="/foster_homes?add=true" method="post">
  <label for="username">Add Home</label>
  <input type="text" name="home" placeholder="Home Name">
  <input type="submit">
</form>
<br>
<ul>
<% @homes.each do |home| %>
    <li>
      <div class="btn-group" role="group" aria-label="...">
        <form method="get">
          <%= home %>
          <button type="submit" class="btn btn-default" formaction="/foster_homes/reviews/<%= home %>">See Reviews</button>
          <button type="submit" class="btn btn-default" formaction="/foster_homes/new_review/<%= home %>">New Review</button>
          <button type="submit" class="btn btn-default" formmethod ="post" formaction="/foster_homes?home=<%= home %>">Delete</button>
        </form>
      </div>

    </li>
<% end %>
</ul>
