<div class="login-card">
  <h1>Log-in</h1><br>
  <form action="/new_home" method="post">
    <input type="text" name="home" placeholder="Home Name" value="<%= @input["home"] %>">
    <input type="text" name="parent" placeholder="Parent" value="<%= @input["parent"] %>">
    <input type="text" name="child" placeholder="Child" value="<%= @input["child"] %>">
    <input type="submit" class="login login-submit">
  </form>
</div>
